* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    grid-area: hea;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: 
    "hea_se_1 hea_se_2 hea_se_3"
}

#hea_se_1 {
    grid-area: hea_se_1;
}

#hea_se_2 {
    grid-area: hea_se_2;
    text-align: center;
}

#hea_se_3 {
    grid-area: hea_se_3;
    position: relative;
    margin: 10px;
}

#sign_in {
    position: absolute;
    right: 0;
    font-size: 20px;
    border: 2px solid black;
   
}

#title {
    font-size: 60px;
}

.page_logo {
    width: 70px;
    height: 60px;
    margin: 10px;
}

nav {
    background: rgb(255, 255, 255);
    grid-area: nav;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
    top: 0;
    z-index: 1;
    flex-direction: column;
}

footer {
    grid-area: foo;
    display: flex;
    background-color: rgb(59, 40, 40);
    justify-content: center;
    align-items: end;
    font-size: 50px;
}

a {
    text-decoration: none;
    font-size: 10px;
}
li {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.main_img {
    width: 300px;
    height: 200px;
    grid-row: 1;
}

.img_text_1 {
    width: 400px;
    height: 300px;
    margin-top: 20px;
}


.text_se_1 {
    font-size: 2rem;
    text-align: center;
    grid-row: 2;
    border: 2px solid black;
    margin: 5px;
}

.home_list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    padding: 5px;
}

.video_list {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid black;
    padding: 5px;
}

.movie_list {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
    padding: 5px;
}

.board_list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid black;
    padding: 5px;
}

.logo {
    width: 40px;
    height: 30px;

}

.text_page_1 {
    font-size: 20px;
    padding: 10px;
}

#grid_wrapper_1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 10fr 10fr;
    grid-template-rows: 100px 300px 500px 500px 500px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea hea"
    "nav se_1_1 se_1_1"
    "nav se_1_2 se_1_2"
    "nav se_1_3 se_1_3"
    "nav se_1_4 se_1_4"
    "foo foo foo"
}

#se_1_1 {
    grid-area: se_1_1;
    background-color: rgb(174, 0, 55);
    position: relative;
    justify-content: space-evenly;
    display: grid;
    align-content: center;
    padding: 10px;

}

#se_1_2 {
    grid-area: se_1_2;
    background-color: rgb(174, 0, 55);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas: 
    "#se_1_2_1 #se_1_2_2 #se_1_2_3"
}



#se_1_3 {
    grid-area: se_1_3;
    background-color: rgb(174, 0, 55);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#se_1_4 {
    grid-area: se_1_4;
    background-color: rgb(174, 0, 55);
    display: flex;
    align-items: center;
    flex-direction: column;
}



#grid_wrapper_2 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 100px 300px 300px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea"
    "nav se_2_1"
    "nav se_2_2"
    "foo foo"
}

#se_2_1 {
    grid-area: se_2_1;
}

#se_2_2 {
    grid-area: se_2_2;
}

#se_2_3 {
    grid-area: se_2_3;
}



#grid_wrapper_3 {
    display: grid;
    height: 100vh;
    grid-template-columns: 
    grid-template-rows: 
    grid-template-areas: 
}



#grid_wrapper_4 {
    display: grid;
    height: 100vh;
    grid-template-columns: 
    grid-template-rows: 
    grid-template-areas: 
}


@media screen and (max-width: 900px) {

    header {
        display: none;
    }


    nav {
        background: rgb(255, 255, 255);
        grid-area: nav;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #grid_wrapper_1 {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 500px 500px 500px 500px minmax(100px,1fr);
        grid-template-areas: 
        "nav"
        "se_1_1"
        "se_1_2"
        "se_1_3"
        "se_1_4"
        "foo"
    }
 

    
    #grid_wrapper_2 {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 
        grid-template-areas: 
    }


    #grid_wrapper_3 {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 
        grid-template-areas: 
    }
    
    
    
    #grid_wrapper_4 {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 
        grid-template-areas: 
    }
}

