* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    grid-area: hea;
    background-color: rgb(223, 202, 202);
    justify-content: center;
    align-items: center;
}

nav {
    background: rgb(45, 188, 55);
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

footer {
    grid-area: foo;
    display: flex;
    background-color: rgb(59, 40, 40);
    justify-content: center;
    align-items: end;
    font-size: 50px;
}

a {
    text-decoration: none;
}
#grid_wrapper_1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 50px 400px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea"
    "nav nav"
    "se_1_1 se_1_2"
    "foo foo"
}

#se_1_1 {
    grid-area: se_1_1;
    background-color: blueviolet;
}

#se_1_2 {
    grid-area: se_1_2;
    background-color: rgb(0, 225, 255);
}



#grid_wrapper_2 {
    height: 100px;
    grid-template-columns: 
    grid-template-rows: 
    grid-template-areas: 
}



#grid_wrapper_3 {
    height: 100px;
    grid-template-columns: 
    grid-template-rows: 
    grid-template-areas: 
}



#grid_wrapper_4 {
    height: 100px;
    grid-template-columns: 
    grid-template-rows: 
    grid-template-areas: 
}


@media screen and (max-width: 1171px) {

    header {
        display: none;
    }

    #grid_wrapper_1 {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1000px minmax(100px,1fr);
        grid-template-areas: 
        "nav"
        "se_1_1"
        "foo"
    }

    #se_1_2 {
        display: none;
    }

    
    #grid_wrapper_2 {
        height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 
        grid-template-areas: 
    }


    #grid_wrapper_3 {
        height:100px;
        grid-template-columns: 1fr;
        grid-template-rows: 
        grid-template-areas: 
    }
    
    
    
    #grid_wrapper_4 {
        height:
        grid-template-columns: 1fr;
        grid-template-rows: 
        grid-template-areas: 
    }
}

